.project {
  padding: 4rem 1rem;  
  :is(h2) {
    text-align: center;
    padding: 2rem 0;
  }
  @media (width >= 600px) {
    padding: 9rem 0;
  }
}
.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  @media (width >= 850px) {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0;
  }
}
.projectcard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  border: 1px solid rgb(169, 93, 93);
  background: var(--projectCardBg);
  width: 90%;
  & > div {
    padding: 1rem;
  }
  @media (width >= 600px){
   max-width: 380px;
  }
  img {
    border-radius: 12px 12px 0 0;
    height: 0px;
  }
}

.techContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

span.technologies {
  display: inline-block;
  border:1px solid white;
  border-radius: 4px;
  color: white;
  padding: 0.2rem 0.4rem;
}

.linkContainer {
  display: flex;
  gap:1rem;
  a{
    color: rgb(240, 176, 176);
    &:hover {
      color: rgb(224, 149, 149);

    }
  }
}

