@import "partials/variables";
@import "partials/text";
@import "partials/btn";
@import "partials/nav";
@import "partials/containers";
@import "partials/footer";
@import "partials/form";
@import "partials/images";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
}