* {
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  padding: 0.5rem 0;
  color: rgb(83, 117, 83);
}

a {
  text-decoration: none;
  color: rgb(68, 85, 68);
}

.hero {
  font-size: 3rem;
  color: black;
  color: rgb(83, 117, 83);
}
@media (width >= 375px) {
  .hero {
    font-size: 4rem;
  }
}

.hero-sub {
  color: black;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.course {
  color: rgb(83, 117, 83);
}

.primary-nav {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 37em) {
  .primary-nav {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 0;
    background-color: rgb(218, 226, 223);
    flex-direction: column;
    padding: min(15vh, 10rem);
    transform: translateX(100%);
    transition: transform 350ms ease-in;
  }
  .primary-nav[data-visible=true] {
    transform: translateX(0%);
  }
  .mobile-nav-toggle {
    cursor: pointer;
    display: block;
    position: absolute;
    font-size: 1rem;
    width: 2rem;
    aspect-ratio: 1;
    border: none;
    z-index: 9999;
    background-color: transparent;
    color: rgb(107, 123, 107);
    top: 0.2rem;
    right: 0.5rem;
  }
}
.icon-link {
  margin: 0 1rem;
}

.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.primary-btn {
  padding: 0.5rem 1rem;
  border-radius: 16px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0);
  margin: 1rem 0.5rem 0 0;
  color: black;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.primary-btn:hover {
  background-color: white;
  transition: all 0.5s ease;
  box-shadow: 0px 5px 10px rgb(177, 184, 177);
}

.secret-btn {
  padding: 1rem;
  font-size: 1rem;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0);
  color: #484848;
  border: none;
}
.secret-btn:hover {
  background-color: white;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: rgb(218, 226, 223);
}

p.logo {
  text-decoration: none;
  color: rgb(107, 123, 107);
}
p.logo:hover {
  color: rgb(69, 92, 69);
}

#headWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 1rem;
  padding-top: 0;
}
footer #footWrapper {
  margin: 0 auto;
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  gap: 0px;
}

#pageWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.pageContent {
  flex-grow: 1;
}

.hero-section {
  padding-top: 100px;
  height: 50vh;
}

.full-vh {
  min-height: 100vh;
  padding-top: 50px;
}
.full-vh.grey {
  background-color: rgb(218, 226, 223);
}
@media (width >= 576px) {
  .full-vh {
    padding-top: 60px;
  }
}

.content-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.text-section {
  max-width: 500px;
  margin: 1rem 0rem 2rem 0rem;
}

.textSection-small {
  background: rgb(250, 250, 250);
  box-shadow: 0px 0px 15px rgb(217, 217, 217);
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  max-width: 500px;
}
@media (width >= 768px) {
  .textSection-small {
    max-width: 320px;
  }
}

.education-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

div.project-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0;
}

.projects {
  cursor: pointer;
  border: 2px solid white;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  min-width: 300px;
}
.projects:hover {
  background: hsla(0, 0%, 100%, 0.3);
  box-shadow: 0px 0px 15px rgb(177, 184, 177);
}
@media (width >= 576px) {
  .projects {
    aspect-ratio: 1;
    min-width: 0px;
    width: 200px;
  }
}
@media (width >= 768px) {
  .projects {
    width: 200px;
  }
  .projects:hover {
    transform: scale(1.1);
    transition: all 0.6s ease;
  }
}

img {
  width: 250px;
  border-radius: 50%;
  filter: grayscale(50%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */