#info {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    color: var(--heroHeadingColor);   
    background: transparent;
    text-align: center;
    
    @media (width >= 450px){
        min-height: 600px;
        padding: 5rem 0;
    }
}

.flexWrapper {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
    @media (width >= 700px){
        justify-content: flex-start;
    }
}

.card {
    background-color: var(--aboutCards);
    color: var(--aboutCardsText);
    padding: 1.2rem;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    @media (width >= 700px){
        max-width: 48%;
    }
    @media (width >= 1000px){
        max-width: 32%;
    }
}

.heroHeading {
    letter-spacing: -2px;
    color: var(--heroHeadingColor);
    margin: 1.5rem 0;
    line-height: 1.2;
}

h1.heroHeading{
    font-size: 4rem;
    @media (width >= 450px){
        letter-spacing: -4px;
        font-size: 6rem;

    }
}
h2.heroHeading {
    font-size: 3rem;
    @media (width >= 450px){
        font-size: 4rem;
    }
}