#pageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#contentWrapper {
    margin-top: 2rem;
    border: 1px solid $border;
    flex-grow: 1;
    width: 100%;
    max-width: 1200px;
    padding: 1rem 2rem;
}


header{
    border: 1px solid $border;

    width: 100%;
    padding: 1rem;
    #headWrapper {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1400px;
    }
}
footer{
    border: 1px solid $border;

    width: 100%;
    padding: 1rem;
    #footWrapper {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        max-width: 1400px;
    }
}