#pageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#contentWrapper {
    margin-top:60px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid $border;
    flex-grow: 1;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    @media ($xs){
        padding: 1rem 1.5rem;
        align-items: flex-start;
    }
    @media ($sm){
        padding: 1rem 3rem;
    }
    @media ($xl){
        margin-top: 10%;
    }
}


// first page
.firstPageWrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    @media ($md){
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
    .textSection{
        max-width: 310px;
        
        @media($xl){
            max-width: 500px;
        }
    }
}



// section
.textSection{
    max-width: 500px;
    margin-bottom: 2rem;
}
.textSection-small{
    background: hsla(0, 0%, 100%, 0.1);
    padding: 1rem;
    width: 100%;
    border-radius: 4px;
    @media ($md) {
        max-width: 310px;

    }
}


// project divs
div.project-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}



.projects {
    cursor: pointer;
    background: hsla(0, 0%, 100%, 0.1);
    padding: 1rem;
    width: 150px;
    aspect-ratio: 1;
    &:hover {
        background: hsla(0, 0%, 100%, 0.3);

    }
    @media ($md) {
        width: 200px;
    }
}

header{
    background-color: $bg-color;
    border: 1px solid $border;
    position: fixed;

    width: 100%;
    padding: 0.5rem;
    #headWrapper {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1600px;
    }
    @media ($sm){
        padding: 0rem 1rem;
    }
}
