footer{
    position: fixed;

    bottom: 0px;
    width: 100%;
    // background-color: rgb(155, 170, 165);

    padding: 1rem;
    padding-top: 0;
    #footWrapper {
        margin: 0 auto;
        max-width: 1600px;
        @include flex($justify: space-between, $align: center);
    }
   
}