footer{
    border: 1px solid $border;

    width: 100%;
    padding: 1rem;
    padding-top: 0;
    #footWrapper {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1600px;
    }

    section {
        display: flex;
        flex-direction: column;
    }
    .iconSection {
        flex-direction: row;
        // align-items: flex-end;
    }
}