.formcontainer {
    @include flex($direction: column);
    width: 100%;
}

label {
    filter: blur(0.1rem);
}
.formelement {
    filter: blur(0.1rem);
    margin-bottom: 1.3rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding: 0.3rem 1rem;
    &:focus {
        outline-color: rgb(218, 174, 0);
    }
}
.formBtn {
    filter: blur(0.1rem);
}
input {
    max-width: 400px;
    width: 100%;
}
textarea {
    width: 100%;
    min-height: 300px;
    max-width: 600px;

}
