header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: $accent-color;

}

p.logo {
    text-decoration: none;
    color: rgb(107, 123, 107);
    &:hover {
        color: rgb(69, 92, 69);
    }
}

#headWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}
