img {
    width: 100%
}
.portrait {
    display: flex;
    align-self: center;
    border-radius: 50%;
    max-width: 300px;
    margin-bottom: 1rem;
    @media ($md){
        margin-bottom: 0rem;
        margin-right: 3rem;
    }
    @media ($xl) {
    max-width: 330px;

    }
}