* {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 1.5rem;
    color: $text-color;
}

p {
}

//headings
h1,h2,h3,h4,h5 {
    color: $text-color;
    line-height: normal;

    padding: 0.5rem 0;
    @media ($sm){
        // font-size: 1.5em;
    }
}

h1, h2 {
    color: $h-color;
}

h1.first-page-heading {
    font-family: 'Italiana', serif;
    text-transform:uppercase;
    font-size: 2.5rem;
    font-weight: 100;
    letter-spacing: 2px;
    @media ($xs) {
        font-size: 3rem;
    }
    @media ($sm) {
        font-size: 4.5rem;
    }
    @media ($md) {
        font-size: 6rem;
    }
}

p.subheading {
    @media ($lg) {
        letter-spacing: 2px;
        font-size: 1.2rem;
        line-height: 2.5rem;
    }
}


//links, special classes
a {
    font-family: "Montserrat", sans-serif;
    color: $text-color;
    text-decoration: none;
}
span.color {
    color: $h-color;

}
.logo {
    font-weight: 700;
    font-size: small;
}


footer {
    p {
    font-size: small;
    }
    h1 {
        font-size: 1rem;
    }
}


//form
ul {
}
li {
    list-style: none;
    color: $text-color;
}

