* {
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    font-weight: 300;

}

h1,h2,h3,h4,h5 {
    // font-family: 'Lato', sans-serif;
    padding: 0.5rem 0;
    color: rgb(83, 117, 83);

}


a {
    text-decoration: none;
    color: rgb(68, 85, 68);
}

.hero {
    font-size: 3rem;
    color: $hero-text;
    line-height: 1.1;
    color: rgb(83, 117, 83);
    @media ($xs){
        font-size: 4rem;
    }
}
.hero-sub {
    color: $hero-text;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.course {
    color: rgb(83, 117, 83);
}

