//breakpoints
$xs: "width >= 375px";
$sm: "width >= 576px";
$md: "width >= 768px";
$lg: "width >= 992px";
$xl: "width >= 1200px";

$sm-reverse: "width <= 576px";


//flex mixin
@mixin flex($direction:row, $justify:flex-start, $align:stretch, $wrap:no-wrap, $gap: 0px){
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    gap: $gap;
}




//colors
$p-white: white;
$p-black: black;
$accent-color: #14828B;
$accent-color-dark: #064e55;

$invisible: rgb(0, 0, 0, 0);

$bg-color: #002B35;

$h-color: #14828B;
$text-color: #CCCCCC;



//test border around containers, switch place to remove border
$border: $p-white;
$border: $bg-color;


