:root {
  --backgroundColor: rgb(249, 249, 249);

  --headerColor: rgb(249, 249, 249);
  --headerTextColor: var(--dark);
  
  --heroSection: linear-gradient(rgb(236, 184, 101), rgb(178, 102, 149));
  --heroHeadingColor: var(--light);
  --heroText: var(--light);
  --heroBtn: var(--light);

  --btnColorPrime: rgb(255, 255, 255);
  --btnTextColorPrime: var(--dark);

  --footerColor: rgba(228, 228, 228, 0);
  --footerTextColor: var(--prime);

  --aboutCards: rgb(255, 255, 255);

  --overlayImg: rgba(228, 228, 228, 0.844);
  --overlayImgHover: rgba(236, 236, 236, 0.693);
  --overlayText: var(--dark);
  
  --boxShadow: 0px 0px 15px rgb(52, 125, 125);
  
  --accentColor: rgb(219, 219, 219);

  --headingColor: var(--dark);
  --textColor: var(--dark);
  --linkColor: var(--dark);
  --linkHover: grey;


  /* btns */
  --btnColor: rgba(0, 0, 0, 0);
  --btnActiveColor: rgb(79, 53, 97);
  --btnTextColor: var(--dark);
  --btnBorder: var(--dark);
  

  --light: rgb(249, 249, 249);
  --dark: rgb(35, 35, 35);
  --prime: #e3bd6b;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--backgroundColor);
}

