.wrapper {
    padding: 2rem 0;
    background-color: var(--backgroundColor);
    box-shadow: 0 0 100px 160px var(--backgroundColor);
    margin-top: 5rem;
}
.flex {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.tool {
    text-align: center;
}